body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


nav {
  display: flex;
  /* justify-content: flex-end; */
}

.navlink {
  margin: 0 15px; 
  color: #050505; 
  text-decoration: none;
  font-weight: bold;
  /* display: inline-block; */
  padding-bottom: 5px; 
}

navlink:hover {
  color: #ff0; /* Example color on hover */
}
.app_nav_bar{
  background-color: #fcfbfb; /* Example background color */
  padding: 10px;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 20px;
  height: 75px;
  border: #8e8e8e5e 1px solid;
}

.navlink_min_div{
  margin-left: 17em;
  
}
/* header top date and time */
.date_time_main{
  background-color: black;
  color: white;
}
.date_time_p{
 position: absolute;
 margin-left:263px;
}

.date_time_contact_us{
  display: flex;
  justify-content: center;
}

.msi_img{
position: absolute;
width: 1398px;
height: 328px;
left: 263px;
top: 105px;

}
.new_products{
  position: absolute;
  margin-left: 10em;
  margin-top: 15em;
}
.new_products_link{
  position: absolute;
  margin-left: 94em;
  margin-top: 26em;
}

.card_grid {
  margin-left: 15em;
  display: flex;
  margin-top: 4em;
}

.h-images{
  /* margin-top: 4em; */
  /* Component 6 */

/* position: absolute; */
width: 233px;
height: 350px;
left: 262px;
top: 996px;


}



.card_1st {
  
/* margin-left: 263px; */
margin-top: 30em;
  flex: 0;
  margin-bottom: 0rem;
}

.card_2st {
  
  /* margin-left: 263px; */
  /* margin-top: 60em; */
    flex: 0;
    margin-bottom: 0rem;
    /* Frame 7 */

/* Auto layout */


/* position: absolute; */
width: 234px;
height: 346px;



  }



/*  Rating */
.stat-rating{
  width: 152px;
  height: 30px;  
}


/* Inside auto layout */
.star{
  flex: none;
  order: 3;
  align-self: flex-start;
  flex-grow: 0;
}

.title_img{
  position: absolute;
width: 1398px;
height: 104px;
left: 262px;
top: 136px;

}



/* footer */

.footer-main-div{
  background-color: black;
  height: 30em;
  color: white;
}

.information_text{
  position: absolute;
  color: white;
}
.PC_Parts_footer_text{
  position: absolute;
  margin-left: 20rem;

}
.Desktop_PCs_footer_tex{
  position: absolute;
  margin-left: 40rem;
}
.Laptops_footer_text{
  position: absolute;
  margin-left: 60rem;
}
.address_footer_text{
  position: absolute;
  margin-left: 80rem;
}


.footer-sub-div{
  margin-left: 30em;
  display: flex;
  margin-top: 4em;
}

.footer-sub-2-div,.footer-sub-3-div{
  margin-left: 5rem;
}

.footer-img-support{
margin-left: 3em;

}

.product-grid{
  
  margin-top: 20em;
 
}
.tree-sider{ 
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  margin-top: 20em;
  position: absolute;
}
.card-all-product{
margin-top: 17em;
margin-left: 12em;

}
.product_ads{
  background-color: #fcfbfb; /* Example background color */
  height: 75px;
  border: #8e8e8e5e 1px solid;
}


.about_page,.details_page{
/* position: absolute; */
width: 1064px;
height: 675px;
left: 0px;
/* top: 237px; */
background: #F5F7FF;
}
.about_page_image,.details_page_image{
/* position: absolute; */
width: 855px;
height: 40px;
left: 2065em;
top: 0px;

background: #FFFFFF;

}
.about_page_in_image,.details_page_in_image{

position: absolute;
width: 469px;
height: 469px;
left: 75rem;
top: 2px;

background: #FFFFFF;
}


.icon-about,.icon-details{
position: absolute;
width: 30.04px;
height: 102.95px;
left: 68rem;
top: 36px;
}

.icon-about-1{
position: absolute;
width: 30px;
height: 30px;
left: 23px;
top: 36px;
}


.icon-about-2{
position: absolute;
width: 30px;
height: 30px;
left: 23.04px;
top: 72.48px;
}

.icon-about-3{
position: absolute;
width: 30px;
height: 30px;
left: 23px;
top: 108.95px;
}


